.header {
    background-color: var(--header-color);
    color: var(--white-color);
    min-height: 80px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.logo {
    width: 100px;
    width: 60px;
}

.content {
    max-width: 1200px;
    display: flex;
    align-items: center;
    height: 80px;
    padding: 0 !important;
}

.header__list {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.header__item {
    padding: 10px 10px;
    justify-content: center;
    font-size: 1.6rem;
    position: relative;
}

.nav-link {
    position: relative;

    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 0;
        height: 3px;
        background-color: #fff;
        transition: all 0.3s ease;
        transform: translateX(-50%);
    }

    &.active::after {
        width: 100%;
    }

    &:hover::after {
        width: 100%;
    }
}

<<<<<<< HEAD:front-end/src/components/layout/components/Header/Header.scss
.header__btn {
=======
.btn--switch {
>>>>>>> c40bd53ace259459f7891de2f02ba26412ea1782:src/components/layout/components/Header/Header.scss
    width: 20px;
    height: 20px;
    color: var(--white-color);
    margin-top: 4px;
}
<<<<<<< HEAD:front-end/src/components/layout/components/Header/Header.scss
=======

.header__right {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header__login {
    display: flex;
    align-items: center;
    margin-right: 14px;

    .btn {
        color: var(--white-color);
        font-size: 1.6rem;
        border: 1px solid var(--white-color);
        border-radius: 6px;
        padding: 4px 8px;

        + .btn {
            margin-left: 8px;
        }
    }

    .btn--login:hover,
    .btn--register:hover {
        color: var(--black-color);
        border: 1px solid var(--black-color);
    }
}

.header__user-info {
    cursor: pointer;
    min-width: 104px;

    .header__icon-user {
    font-size: 1.6rem;
    margin-left: -8px;
    width: 20px;
    }

    .header__name {
        margin-top: 2px;
        height: 100%;
        font-size: 1.8rem;
        font-weight: bold;
        margin-bottom: 0;
        padding: 8px;
    }
}

.tippy-box {
    background: var(--white-color);
    border-radius: 6px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    padding: 8px;
}

.tippy-item {
    display: block;
    width: 120px;
    text-decoration: none;
    background-color: transparent;
    border: none;
    text-align: center;
    color: var(--text-color);
    padding: 6px 12px;
    cursor: pointer;
    font-size: 1.6rem;

    &:hover {
        background-color: #f0f0f0;
    }
}


>>>>>>> c40bd53ace259459f7891de2f02ba26412ea1782:src/components/layout/components/Header/Header.scss
